section.tables
  .container
    .row
      .col-md-12   
        table.table
          thead
            tr
              th(scope='col').hidden-xs Funcionalidades
              th(scope='col' colspan="2").visible-xs Funcionalidades
              th(scope='col').hidden-xs Computadora #[br]#[span (PC y MAC)]
              th(scope='col').hidden-xs Tablets #[br]#[span (iOS, Android y Windows 8)]              
              th(scope='col').hidden-xs Smartphones #[br]#[span (iOS y Android )]

          tbody
            tr
              th(scope='row') Protección contra virus y malware de internet
              td.visible-xs.more +
              td.hidden-xs
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")
              td.hidden-xs 
              td.hidden-xs 
            tr.exten
              td(colspan="2") 
                ul
                  li Computadora (PC y MAC) 
            tr
              th(scope='row') Detecta sitios potencialmente peligrosos y advierte #[br]al usuario antes de su visita
              td.visible-xs.more +
              td.hidden-xs 
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")
              td.hidden-xs 
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs 
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")  
            tr.exten
              td(colspan="2") 
                ul
                  li Computadora (PC y MAC)  
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )       
            tr
              th(scope='row') Análisis programados y actualizaciones periódicas
              td.visible-xs.more +
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")  
            tr.exten
              td(colspan="2") 
                ul
                  li Computadora (PC y MAC)  
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )   
            tr
              th(scope='row') Evita que intrusos ingresen a tus equipos cuando te #[br]conectas desde accesos de WIFI abiertos
              td.visible-xs.more +
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")   
            tr.exten
              td(colspan="2") 
                ul
                  li Computadora (PC y MAC)  
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                  
            tr
              th(scope='row') Bloquea el acceso a redes potencialmente peligrosas #[br]que expongan tus equipos
              td.visible-xs.more +
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")    
            tr.exten
              td(colspan="2") 
                ul
                  li Computadora (PC y MAC)  
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                 
            tr
              th(scope='row') Bloquea acceso a sitios con contenido inadecuado #[br]para niños
              td.visible-xs.more +
              td.hidden-xs  
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")  
            tr.exten
              td(colspan="2") 
                ul
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                   
            tr
              th(scope='row') Encuentra un dispositivo perdido o robado #[br](geolocalización)
              td.visible-xs.more +
              td.hidden-xs  
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")  
            tr.exten
              td(colspan="2") 
                ul
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                    
            tr
              th(scope='row') Administra los horarios y tiempo que tus hijos #[br]permanecen conectados a Internet
              td.visible-xs.more +
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")
              td.hidden-xs                
              td.hidden-xs  
            tr.exten 
              td(colspan="2") 
                ul
                  li Computadora (PC y MAC)                
            tr
              th(scope='row') Envía notificaciones a los padres sobre la actividad #[br]online de los chicos
              td.visible-xs.more +
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")
              td.hidden-xs                 
              td.hidden-xs  
            tr.exten
              td(colspan="2") 
                ul
                  li Computadora (PC y MAC)                 
            tr
              th(scope='row') Alarma en caso de robo
              td.visible-xs.more +
              td.hidden-xs  
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="") 
            tr.exten 
              td(colspan="2") 
                ul
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                     
            tr
              th(scope='row') Bloqueo de equipo y borrado de información
              td.visible-xs.more +
              td.hidden-xs  
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")    
            tr.exten 
              td(colspan="2") 
                ul
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                   
            tr
              th(scope='row') BackUp de fotos, videos, contactos y mensajes #[br]recuperables por pérdida, robo o cambio de celular
              td.visible-xs.more +
              td.hidden-xs  
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")   
            tr.exten 
              td(colspan="2") 
                ul
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                    
            tr
              th(scope='row') Análisis de Apps descargadas
              td.visible-xs.more +
              td.hidden-xs  
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")  
            tr.exten
              td(colspan="2") 
                ul
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                      
            tr
              th(scope='row') Análisis de qué tipo de información personal
              td.visible-xs.more +
              td.hidden-xs  
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")   
            tr.exten
              td(colspan="2") 
                ul
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                    
            tr
              th(scope='row') Claves para bloquear Apps (ejemplo: bancarias)
              td.visible-xs.more +
              td.hidden-xs  
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")    
            tr.exten
              td(colspan="2") 
                ul
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                                 
            tr
              th(scope='row') Identifica sitios potencialmente inseguros, los #[br]bloquea
              td.visible-xs.ult +
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")                
              td.hidden-xs  
                img(src=url+"/documents/80379/8015104/icon-check.png/", alt="")    
            tr.exten
              td(colspan="2") 
                ul
                  li Computadora (PC y MAC)  
                  li Tablets (iOS, Android y Windows 8)
                  li Smartphones (iOS y Android )                                            