section.dfaq#preguntas
  .container
    .row      
      .faq_acc
        h2 Preguntas frecuentes
        .panel-group#faq_acc(role="tablist", aria-multiselectable="true")
          // uno
          .panel.panel-default
            .panel-heading( role="tab" id="preguntaUno")
              h4.panel-title
                a(role="button", data-toggle="collapse", data-parent="#faq_acc", href="#respuestaUno", aria-expanded="false", aria-controls="respuestaUno")
                  |¿Qué tipo de dispositivos pueden usar el Antivirus McAfee?
                  img(src=url+'/documents/80379/7968546/arrow-a.png/')
            .panel-collapse.collapse#respuestaUno(role="tabpanel", aria-labelledby="headingOne")
              .panel-body
                ul
                  li PC o Laptop: #[br]
                    | Protéjase de virus y amenazas online. Protéjase de contenidos maliciosos y bloquee accesos no autorizados a wifi.
                  li Mac: #[br]
                    | Proteja sus datos personales de virus y aplicaciones maliciosas. Reconozca y bloquee sitios de phishing en tiempo real. #[br]
                  li Tablets y Smartphones: #[br]
                    | Seguridad total en tablets y smartphones. Localícelos o bloquéelos por pérdida o robo.      
          // dos
          .panel.panel-default
            .panel-heading( role="tab" id="preguntaDos")
              h4.panel-title
                a(role="button", data-toggle="collapse", data-parent="#faq_acc", href="#respuestaDos", aria-expanded="false", aria-controls="respuestaDos")
                  |¿Cuáles son los requisitos mínimos del sistema para usar Antivirus McAfee?
                  img(src=url+'/documents/80379/7968546/arrow-a.png/')
            .panel-collapse.collapse#respuestaDos(role="tabpanel", aria-labelledby="preguntaDos")
              .panel-body
                ul
                  li Sistema Operativo: #[br]
                    | Microsoft Windows 10, 8.1, 8 y 7 (32 y 64 bits)#[br]
                    | Mac OS X 10.11 o posterior #[br]
                    | Tablets y smartphones Google Android 4.1 o posterior#[br]
                    | Apple iOS 9 o posterior
                  li Navegadores compatibles:#[br]
                    | Internet Explorer 10.0 o posterior#[br]
                    | Firefox#[br]
                    | Google Chrome#[br]
                    | Safari (Mac y solo SO iOS)
                  li Es necesaria una conexión a internet:#[br]
                    | Es recomendable una conexión de alta velocidad
                  li Programas de correo electrónico compatibles con Anti-Spam:#[br]
                    | POP3: Windows Mail, Outlook, Netscape, IncrediMail, Thunderbird, Becky, Shuriken#[br]
                    | MAPI: Outlook #[br]
                    | Web: MSN/Hotmail o cuenta de correo electrónico con acceso IMAP/POP3
                  li Es necesaria la barra de herramientas de Anti-Spam:#[br]
                    | Microsoft Outlook 2007, 2013, 2016#[br]
                    | Thunderbird 38.0+#[br]
                    | McAfee Anti-Spam también admite otros clientes de correo electrónico POP3 (sin SSL) y cuentas web
                  li Hardware:#[br]
                    | 2 GB de RAM para Windows 7 y posterior#[br]
                    | 500 MB de espacio libre en el disco duro
                    | Procesador a 1 GHz


          // tres
          .panel.panel-default
            .panel-heading( role="tab" id="preguntaTres")
              h4.panel-title
                a(role="button", data-toggle="collapse", data-parent="#faq_acc", href="#respuestaTres", aria-expanded="false", aria-controls="respuestaTres")
                  |¿En cuántos dispositivos puedo instalar el Antivirus McAfee?
                  img(src=url+'/documents/80379/7968546/arrow-a.png/')
            .panel-collapse.collapse#respuestaTres(role="tabpanel", aria-labelledby="preguntaTres")
              .panel-body
                p Con McAfee puedes asegurar hasta 3 dispositivos, los cuales pueden ser computadoras, tablets o smartphones.

          // cuatro
          .panel.panel-default
            .panel-heading( role="tab" id="preguntaCuatro")
              h4.panel-title
                a(role="button", data-toggle="collapse", data-parent="#faq_acc", href="#respuestaCuatro", aria-expanded="false", aria-controls="respuestaCuatro")
                  |¿Cómo instalo Seguridad Total en un celular?
                  img(src=url+'/documents/80379/7968546/arrow-a.png/')
            .panel-collapse.collapse#respuestaCuatro(role="tabpanel", aria-labelledby="preguntaCuatro")
              .panel-body
                ol
                  li Ingresa el nombre de usuario y contraseña que te enviamos o haz clic directamente en el link que figura en ese mismo mensaje o mail de activación. 
                  li Luego haz click en el botón “Descargar” y nuevamente en “Descargar”.
                  li Haz un click en “Instalar” para obtener la aplicación de McAfee Mobile Security.
                  li Abre el App y acepta los términos y condiciones.
                  li Haz un click en “Instalar” para obtener la aplicación de McAfee Mobile Security.
                  li Abre el app y acepta los términos y condiciones.
                  li Debes completar tu correo electrónico y crear un PIN de 6 dígitos. Es importante, que tanto el correo electrónico como el PIN sean los que usas frecuentemente, para no olvidártelos.
                  li Cuando finalices la configuración, haz clik en “Siguiente” y luego en “ir a Menú principal”
                  li Allí deberás activar las funciones de seguridad y luego habilitar McAfee Security.
                  li Por último, ingresa el PIN de seguridad que creaste previamente.


          // cinco
          .panel.panel-default
            .panel-heading( role="tab" id="preguntaCinco")
              h4.panel-title
                a(role="button", data-toggle="collapse", data-parent="#faq_acc", href="#respuestaCinco", aria-expanded="false", aria-controls="respuestaCinco")
                  |¿Cómo instalo Seguridad Total en PC?
                  img(src=url+'/documents/80379/7968546/arrow-a.png/')
            .panel-collapse.collapse#respuestaCinco(role="tabpanel", aria-labelledby="preguntaCinco")
              .panel-body
                ol
                  li Debes ingresar el usuario y contraseña que te enviamos o clickear directamente en el link que figura en ese mismo mensaje o mail de activación.
                  li Luego selecciona el tipo de computadora que tengas, si es Pc o Mac y da clik en “Descargar”. Al aceptar los términos y condiciones, se iniciará automáticamente la descarga del software en tu dispositivo.
                  li Una vez finalizada, abre el instalador y haz click en “Sí” para permitir que McAfee realice cambios para proteger tu equipo. Y al hacer click en “Instalar” serás guiado durante el resto del proceso. 
                  li Al terminar, haz click en “listo”.

      
      .col-md-12
        .tyc
          p #[strong Información legal:]
          p Promoción válida del #[strong 01/04/19] hasta #[strong 30/04/19] para clientes residenciales. La renta mensual se facturará en el recibo de Internet del cliente. El producto podrá ser instalado hasta en 3 equipos (PC, Laptop -con sistema operativo Windows o MAC-, Smartphone/Tablet - ANDROID o IOS-). Informes y restricciones llamando al #[b 080011800. ]




