section.tabs#caracteristicas
  .container
    .row
      .col-md-12
        #exTab3
          ul.nav.nav-pills
            .owl-carousel
              li.active
                a(href='#1b', data-toggle='tab') Optimiza
              li
                a(href='#2b', data-toggle='tab') Protege
              li
                a(href='#3b', data-toggle='tab') Recupera
              li.li4
                a(href='#4b', data-toggle='tab') Controla
          .tab-content.clearfix
            #1b.tab-pane.active
              .col-md-6.ctn
                .imgTab
                  img(src=url+"/documents/80379/8015104/section3.png/", alt="").visible-lg.visible-md
                  img(src=url+"/documents/80379/8015104/section3-movil.png/", alt="").visible-sm.visible-xs
                  p Mejora el rendimiento #[br]de todos tus equipos
              .col-md-6.ctn
                .box-information
                  .textInf
                    h3 Sácale el máximo provecho a tus dispositivos
                    p Con el antivirus McAfee, tu celular y tu compu no solo funcionan mejor, sino también están protegidos de cualquier tipo de amenaza a la hora de ingresar a sitios, descargar documentos y aplicaciones, o recibir mails maliciosos.
                  .row.iconsInf
                    .col-md-6.col-xs-6.contenidoIcon
                      img(src=url+"/documents/80379/8015104/icon-descarga.png/")
                      p Descarga el Manual #[br]de Seguridad Total
                      a(href=url+"/documents/80379/8030484/Seguridad_Total_Descrption.pdf/a9696ba5-949f-4c0d-9e3e-578b3463dc67" target="_blank") Descargar aquí >
                    .col-md-6.col-xs-6.contenidoIcon
                      img(src=url+"/documents/80379/8015104/icon-carrito.png/")
                      p Completa el #[br]formulario
                      a(href="#") Ingresa aquí >
            #2b.tab-pane
              .col-md-6.ctn
                .imgTab
                  img(src=url+"/documents/80379/8015104/section3-protege.png/", alt="").visible-lg.visible-md
                  img(src=url+"/documents/80379/8015104/section3-protege-movil.png/", alt="").visible-sm.visible-xs
                  p Tus fotos y videos, tus archivos #[br]de trabajo, siempre seguros
              .col-md-6.ctn
                .box-information
                  .textInf
                    h3 Navega seguro
                    p Los contenidos que más te importan están guardados en la nube. Además puedes bloquear tus archivos importantes generando una contraseña cifrada. Ahora es más fácil cuidar tu información financiera, tu cuenta de mail y las páginas que navegas con el administrador de contraseña.
                  .row.iconsInf
                    .col-md-6.col-xs-6.contenidoIcon
                      img(src=url+"/documents/80379/8015104/icon-descarga.png/")
                      p Descarga el Manual #[br]de Seguridad Total
                      a(href=url+"/documents/80379/8030484/Seguridad_Total_Descrption.pdf/a9696ba5-949f-4c0d-9e3e-578b3463dc67" target="_blank") Descargar aquí >
                    .col-md-6.col-xs-6.contenidoIcon
                      img(src=url+"/documents/80379/8015104/icon-carrito.png/")
                      p Completa el #[br]formulario
                      a(href="#") Ingresa aquí >
            #3b.tab-pane
              .col-md-6.ctn
                .imgTab
                  img(src=url+"/documents/80379/8015104/section3-recupera.png/", alt="").visible-lg.visible-md
                  img(src=url+"/documents/80379/8015104/section3-recupera-movil.png/", alt="").visible-sm.visible-xs
                  p Rastrea, localiza y bloquea tu dispositivo #[br]móvil en caso de pérdida o robo
              .col-md-6.ctn
                .box-information
                  .textInf
                    h3 Protege tu celular
                    p Desde el panel de control de Seguridad Total puedes rastrear tu dispositivo, bloquearlo, hacer un back up aún después de haberlo perdido y hasta saber su última localización antes de que se le acabe la batería.
                  .row.iconsInf
                    .col-md-6.col-xs-6.contenidoIcon
                      img(src=url+"/documents/80379/8015104/icon-descarga.png/")
                      p Descarga el Manual #[br]de Seguridad Total
                      a(href=url+"/documents/80379/8030484/Seguridad_Total_Descrption.pdf/a9696ba5-949f-4c0d-9e3e-578b3463dc67" target="_blank") Descargar aquí >
                    .col-md-6.col-xs-6.contenidoIcon
                      img(src=url+"/documents/80379/8015104/icon-carrito.png/")
                      p Completa el #[br]formulario
                      a(href="#") Ingresa aquí >
            #4b.tab-pane
              .col-md-6.ctn
                .imgTab
                  img(src=url+"/documents/80379/8015104/section3-controla.png/", alt="").visible-lg.visible-md
                  img(src=url+"/documents/80379/8015104/section3-controla-movil.png/", alt="").visible-sm.visible-xs
                  p Controla lo que ven tus hijos #[br]en internet
              .col-md-6.ctn
                .box-information
                  .textInf
                    h3 Protege a los que más quieres
                    p Hay miles de sitios con contenidos no aptos para menores de edad. Protege a tus hijos, estableciendo dónde pueden navegar y qué pueden mirar.
                  .row.iconsInf
                    .col-md-6.col-xs-6.contenidoIcon
                      img(src=url+"/documents/80379/8015104/icon-descarga.png/")
                      p Descarga el Manual #[br]de Seguridad Total
                      a(href=url+"/documents/80379/8030484/Seguridad_Total_Descrption.pdf/a9696ba5-949f-4c0d-9e3e-578b3463dc67" target="_blank") Descargar aquí >
                    .col-md-6.col-xs-6.contenidoIcon
                      img(src=url+"/documents/80379/8015104/icon-carrito.png/")
                      p Completa el #[br]formulario
                      a(href="#") Ingresa aquí >

